<a href="https://colab.research.google.com/github/LAGABI44/Project-AIFFELTHON/blob/main/%08%EC%A7%84%ED%96%89/2.%20%EB%8D%B0%EC%9D%B4%ED%84%B0%20%EB%B6%84%EC%84%9D/DBScan_%EC%9D%B4%ED%98%B8%EB%B9%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

# 레티나 설정을 해주면 글씨가 좀 더 선명하게 보입니다.
# 폰트의 주변이 흐릿하게 보이는 것을 방지합니다.
%config InlineBackend.figure_format = 'retina'

In [3]:
import os

# 다운로드 받은 파일을 판다스의 read_csv 를 통해 읽어옵니다.
# 파일을 읽어온 후 shape 로 행과 열의 수를 출력합니다.
# csv_path = '/content/drive/MyDrive/health/data/data_2.csv'
csv_path = '/content/drive/MyDrive/아이펠해커톤_2/data_dis01.csv'
df2 = pd.read_csv(csv_path, encoding='cp949')

df = df2.copy()
pd.set_option('display.max_columns', None) # 컬럼 수가 많으므로 요약되어 표시되지 않게 합니다.
# sample, head, tail : 데이터 미리보기
df # 데이터를 확인합니다.

        SEX  BTH_G  SBP  DBP  FBS  DIS   BMI  B_pressure  B_sugar
0         0      1  116   78   94    4  16.6           0        0
1         0      1  100   60   79    4  22.3           0        0
2         0      1  100   60   87    4  21.9           0        0
3         0      1  111   70   72    4  20.2           0        0
4         0      1  120   80   98    4  20.0           0        0
...     ...    ...  ...  ...  ...  ...   ...         ...      ...
999995    1     27  120   70   81    2  23.1           1        0
999996    1     27  110   70  104    2  27.2           1        0
999997    1     27  115   53  110    1  25.2           1        1
999998    1     27  120   70   90    2  19.7           1        0
999999    1     27  116   73   92    4  17.6           0        0

[1000000 rows x 9 columns]

In [4]:
df_f = df.copy()
df_f = df_f.iloc[:,[2,3,4,6,5]]

In [5]:
df_f

        SBP  DBP  FBS   BMI  DIS
0       116   78   94  16.6    4
1       100   60   79  22.3    4
2       100   60   87  21.9    4
3       111   70   72  20.2    4
4       120   80   98  20.0    4
...     ...  ...  ...   ...  ...
999995  120   70   81  23.1    2
999996  110   70  104  27.2    2
999997  115   53  110  25.2    1
999998  120   70   90  19.7    2
999999  116   73   92  17.6    4

[1000000 rows x 5 columns]

In [6]:
from sklearn.pipeline import make_pipeline 
from sklearn.preprocessing import StandardScaler 
standard_scaler = StandardScaler() 
scaled_df = pd.DataFrame(standard_scaler.fit_transform(df_f.iloc[:,0:4]), columns=df_f.iloc[:,0:4].columns) # scaled된 데이터
scaled_df

             SBP       DBP       FBS       BMI
0      -0.403233  0.225879 -0.211669 -2.184837
1      -1.502006 -1.612092 -0.864374 -0.456142
2      -1.502006 -1.612092 -0.516265 -0.577454
3      -0.746600 -0.590997 -1.168970 -1.093029
4      -0.128540  0.430098 -0.037614 -1.153685
...          ...       ...       ...       ...
999995 -0.128540 -0.590997 -0.777347 -0.213518
999996 -0.815273 -0.590997  0.223468  1.029929
999997 -0.471907 -2.326859  0.484550  0.423370
999998 -0.128540 -0.590997 -0.385724 -1.244669
999999 -0.403233 -0.284668 -0.298696 -1.881557

[1000000 rows x 4 columns]

In [7]:
db_df = scaled_df.copy()

In [8]:
db_df

             SBP       DBP       FBS       BMI
0      -0.403233  0.225879 -0.211669 -2.184837
1      -1.502006 -1.612092 -0.864374 -0.456142
2      -1.502006 -1.612092 -0.516265 -0.577454
3      -0.746600 -0.590997 -1.168970 -1.093029
4      -0.128540  0.430098 -0.037614 -1.153685
...          ...       ...       ...       ...
999995 -0.128540 -0.590997 -0.777347 -0.213518
999996 -0.815273 -0.590997  0.223468  1.029929
999997 -0.471907 -2.326859  0.484550  0.423370
999998 -0.128540 -0.590997 -0.385724 -1.244669
999999 -0.403233 -0.284668 -0.298696 -1.881557

[1000000 rows x 4 columns]

In [9]:
db_df_100 = db_df.copy()
db_df_100['DIS'] = df['DIS']
db_df_100

             SBP       DBP       FBS       BMI  DIS
0      -0.403233  0.225879 -0.211669 -2.184837    4
1      -1.502006 -1.612092 -0.864374 -0.456142    4
2      -1.502006 -1.612092 -0.516265 -0.577454    4
3      -0.746600 -0.590997 -1.168970 -1.093029    4
4      -0.128540  0.430098 -0.037614 -1.153685    4
...          ...       ...       ...       ...  ...
999995 -0.128540 -0.590997 -0.777347 -0.213518    2
999996 -0.815273 -0.590997  0.223468  1.029929    2
999997 -0.471907 -2.326859  0.484550  0.423370    1
999998 -0.128540 -0.590997 -0.385724 -1.244669    2
999999 -0.403233 -0.284668 -0.298696 -1.881557    4

[1000000 rows x 5 columns]

In [10]:
db_df_s = db_df_100[db_df_100['DIS'] == 1].sample(n=20000)
for i in range(2,5):
  sample_df = db_df_100[db_df_100['DIS'] == i].sample(n=20000)
  db_df_s = pd.concat([db_df_s,sample_df])
db_df_s

             SBP       DBP       FBS       BMI  DIS
119764  0.558193  0.430098  0.745631  1.697145    1
998419 -0.403233 -0.795216 -0.081128  0.029106    1
309620  0.008806 -1.203654  0.092927 -0.880733    1
321693  0.420846  1.042755  4.531320  0.635666    1
291964 -0.128540  0.430098  0.789145  0.665994    1
...          ...       ...       ...       ...  ...
565773 -0.815273 -0.386778 -0.429237 -1.608605    4
670025 -1.502006 -1.612092 -1.081942 -1.487293    4
688677 -1.502006 -1.612092 -0.516265  0.089762    4
662083 -0.403233  0.123770 -0.255183 -0.668438    4
301671 -0.815273  0.430098  0.310495  2.243049    4

[80000 rows x 5 columns]

In [11]:
db_df_s.reset_index(drop=True,inplace=True)
db_df_s

            SBP       DBP       FBS       BMI  DIS
0      0.558193  0.430098  0.745631  1.697145    1
1     -0.403233 -0.795216 -0.081128  0.029106    1
2      0.008806 -1.203654  0.092927 -0.880733    1
3      0.420846  1.042755  4.531320  0.635666    1
4     -0.128540  0.430098  0.789145  0.665994    1
...         ...       ...       ...       ...  ...
79995 -0.815273 -0.386778 -0.429237 -1.608605    4
79996 -1.502006 -1.612092 -1.081942 -1.487293    4
79997 -1.502006 -1.612092 -0.516265  0.089762    4
79998 -0.403233  0.123770 -0.255183 -0.668438    4
79999 -0.815273  0.430098  0.310495  2.243049    4

[80000 rows x 5 columns]

In [12]:
db_df_s = db_df_s.sample(frac=1).reset_index(drop=True)
db_df_s

            SBP       DBP       FBS       BMI  DIS
0      1.588292  1.757522  0.310495 -0.365158    2
1      1.107579  0.532208  3.617533 -0.607782    3
2      1.656966  2.063850  2.834287  1.575833    1
3     -0.128540  0.430098 -0.472751 -0.911061    4
4      0.558193  0.430098  1.354823  2.182393    1
...         ...       ...       ...       ...  ...
79995  1.107579  1.655412 -0.429237 -0.365158    2
79996  0.558193  0.430098 -0.211669 -0.668438    1
79997  0.214826  0.430098  0.136440 -0.122534    2
79998  1.794312  1.451193 -1.212483 -1.062701    2
79999  0.901559  2.268069 -0.472751  0.635666    2

[80000 rows x 5 columns]

In [13]:
db_df_s_100 = db_df_s.copy()

In [14]:
db_df_s = db_df_s.iloc[:,:4]
db_df_s

            SBP       DBP       FBS       BMI
0      1.588292  1.757522  0.310495 -0.365158
1      1.107579  0.532208  3.617533 -0.607782
2      1.656966  2.063850  2.834287  1.575833
3     -0.128540  0.430098 -0.472751 -0.911061
4      0.558193  0.430098  1.354823  2.182393
...         ...       ...       ...       ...
79995  1.107579  1.655412 -0.429237 -0.365158
79996  0.558193  0.430098 -0.211669 -0.668438
79997  0.214826  0.430098  0.136440 -0.122534
79998  1.794312  1.451193 -1.212483 -1.062701
79999  0.901559  2.268069 -0.472751  0.635666

[80000 rows x 4 columns]

In [15]:
for i in range(1,5):
  print((db_df_s_100['DIS'] == i).sum())

20000
20000
20000
20000

In [16]:
from sklearn.cluster import DBSCAN

In [17]:
min_samples_list = [5,10,100,500,1000]
eps_list = [0.3,0.5,0.7,1.0,1.5]

In [18]:
for i in min_samples_list:
  for j in eps_list:  
    db_model = DBSCAN(eps=j, min_samples=i)

    # 군집화 모델 학습 및 클러스터 예측 결과 반환
    db_model.fit(db_df_s)
    db_df_s_100[f'cluster{i}_{j}'] = db_model.fit_predict(db_df_s)

In [19]:
for i in min_samples_list:
  for j in eps_list:
    print(f'{i},{j}',db_df_s_100[f'cluster{i}_{j}'].unique())

5,0.3 [  0  -1   1  10   2  87  69 167   3   4   5 107   6   7 151  39 177   8
   9  11  28 119  12 130  74 142  13  33  45 117  14  15  16  96  17  34
  18  88 129  19  21  20 158  22  23  24 146  25 103 144  26  27  29  81
  30 118  58  31 123  32 145 104  48 164  67  86 172  35 122 171  56  36
  37  38 106  66 162 120 139 173  40 180 155  41 109 138 148  42 124 115
  65  43  44  46 127  47  49 141 181  50  51 113  52  53  94 166  54  55
  57 133 157  59 135 178  63  93  60  61 179  62 112  64 140 101  97 156
  68  83 136  70  71  73 108  72 170  90 110  75 150  76 137  77  78  91
  79  80 134  82 163  99 176 154  84  85  89 168  92 128  95 105  98 165
 100 102 125 111 147 114 116 160 143 121 169 131 132 126 175 174 159 149
 161 152 153]
5,0.5 [ 0 -1  1  2 12 14  3  4  6  8 22 21 24  9 10  5  7 19 16 18 20 17 11 15
 13 23 25]
5,0.7 [ 0 -1  2  1]
5,1.0 [ 0 -1]
5,1.5 [ 0 -1]
10,0.3 [ 0 -1  1  4  5 36  2 33 27  3 16 19  7 11 20 34 35 17 12  6 38 31  8 24
  9 29 10 28 22 13 37 25 14 15 26 30 23 18 32 21]
10,0.5 [ 0 -1  2  1  3  4]
10,0.7 [ 0 -1]
10,1.0 [ 0 -1]
10,1.5 [ 0 -1]
100,0.3 [-1  0  3  1  2]
100,0.5 [ 0 -1]
100,0.7 [ 0 -1]
100,1.0 [ 0 -1]
100,1.5 [ 0 -1]
500,0.3 [-1]
500,0.5 [-1  0]
500,0.7 [ 0 -1]
500,1.0 [ 0 -1]
500,1.5 [ 0 -1]
1000,0.3 [-1]
1000,0.5 [-1  0]
1000,0.7 [ 0 -1]
1000,1.0 [ 0 -1]
1000,1.5 [ 0 -1]

In [22]:
for i in min_samples_list:
  for j in eps_list:
    print(pd.crosstab(db_df_s_100['DIS'],db_df_s_100[f'cluster{i}_{j}']))

cluster5_0.3  -1      0     1     2     3     4     5     6     7     8    \
DIS
1             3858  15615     4     2     4     5     4     1     5     8
2             1695  18158     1     4     0     3     0     0     0     1
3             3370  16126     1     2     3     3     1    10     1     7
4              895  18998     1     5     0     1     0     0     0     0

cluster5_0.3   9     10    11    12    13    14    15    16    17    18   \
DIS
1                3     6     1     2     3    10     5     7     2     0
2                0     0     0     3     0     0     0     0     0     2
3                2     6    11     0     2    14     1     7     5     1
4                0     0     0     1     0     0     0     1     0     7

cluster5_0.3   19    20    21    22    23    24    25    26    27    28   \
DIS
1                4    13     2     4     0     0     0     1     0     0
2                0     0     0     0     6     0     1     0     1     0
3               10    12     3     9     0     1     4     4     1     1
4                1     0     0     0     1     4     0     0     5     7

cluster5_0.3   29    30    31    32    33    34    35    36    37    38   \
DIS
1               20     4     4     2     7     3    14     5     4     1
2                1     1     0     0     0     0     1     0     0     3
3                6     9     2     6     6     1     0     8     2     1
4                3     0     0     0     0     1     0     0     0     0

cluster5_0.3   39    40    41    42    43    44    45    46    47    48   \
DIS
1                3     4     1     2     6     4     3    10     2     2
2                0     1     0     0     0     0     0     0     6     1
3                4     0     1    10     3     3    16     2     1     1
4                0     0     0     0     0     0     1     0     8     1

cluster5_0.3   49    50    51    52    53    54    55    56    57    58   \
DIS
1                6     2     0     2     1     1     3     9     2     3
2                1     0     0     1     5     2     0     6     2     0
3                2     2     6     0     1     0     4     0     1     3
4                1     0     0     2     1     1     0     1     0     0

cluster5_0.3   59    60    61    62    63    64    65    66    67    68   \
DIS
1                3     0     4     5     4     4    11     5     2     5
2                2     3     0     1     2     0     0     0     0     1
3                2     1     1     7     1     1     3     4     8     1
4                0     2     0     0     1     0     1     0     1     0

cluster5_0.3   69    70    71    72    73    74    75    76    77    78   \
DIS
1                0     3     2     2     2     2     2     3     1     4
2                1     1     0     1     0     0     1     1     0     0
3                1     1     4     1     3    10     0     9     6     3
4                5     0     0     0     0     0     0     1     0     0

cluster5_0.3   79    80    81    82    83    84    85    86    87    88   \
DIS
1                5     0     3     1     5     3     1     1     1     4
2                0     0     0     4     0     2     1     0     1     0
3                2     1     2     1     0     2     1     4     2     1
4                0     2     0     0     0     0     2     0     0     0

cluster5_0.3   89    90    91    92    93    94    95    96    97    98   \
DIS
1                2     0     5     3     1     0     4     5     2     9
2                0     1     1     1     0     2     0     0     0     0
3                4     5    11     1     7     1     4     5     3     1
4                0     0     0     0     0     2     0     0     0     0

cluster5_0.3   99    100   101   102   103   104   105   106   107   108  \
DIS
1                6     2     1     0     6     4     0     3     0     0
2                0     0     0     2     0     0     1     0     1     0
3               13     4     4     1     6     1     1     3     1     0
4                0     0     0     0     0     0     3     0     3     3

cluster5_0.3   109   110   111   112   113   114   115   116   117   118  \
DIS
1                2     6     2     0     4     0     4     0     3     1
2                0     0     0     3     0     6     0     4     0     0
3                5     0     2     0     8     1     2     0     1     1
4                0     0     0     0     0     0     1     1     1     3

cluster5_0.3   119   120   121   122   123   124   125   126   127   128  \
DIS
1                3     1     1     4     1     0     1     4     2     0
2                5     3     0     3     0     5     1     0     0     4
3                1     0     3     0     4     0     0     0     5     0
4                1     0     0     0     1     0     3     0     0     1

cluster5_0.3   129   130   131   132   133   134   135   136   137   138  \
DIS
1                2     2     3     5     2     5     2     5     3     4
2                0     2     0     0     0     0     0     0     1     0
3                2     0     2     1     3     0     3     6     0     2
4                0     0     0     0     0     0     0     0     1     0

cluster5_0.3   139   140   141   142   143   144   145   146   147   148  \
DIS
1                3     1     2     2     2     3     2     5     2     1
2                1     0     0     0     0     0     0     0     1     1
3                1     2     3     2     1     2     3     2     0     2
4                1     0     0     0     0     0     0     0     2     0

cluster5_0.3   149   150   151   152   153   154   155   156   157   158  \
DIS
1                1     0     2     2     3     1     0     3     3     4
2                0     1     1     0     0     0     2     0     0     0
3                0     4     2     1     1     2     0     1     2     1
4                0     0     0     0     0     0     3     0     0     0

cluster5_0.3   159   160   161   162   163   164   165   166   167   168  \
DIS
1                0     3     2     1     2     2     3     2     3     1
2                1     0     0     0     0     0     3     2     0     1
3                2     1     2     4     4     2     0     1     2     3
4                2     0     0     0     0     0     0     0     0     0

cluster5_0.3   169   170   171   172   173   174   175   176   177   178  \
DIS
1                0     2     4     4     2     0     2     4     4     0
2                3     0     0     1     0     4     3     0     0     1
3                0     2     1     0     3     1     0     2     2     0
4                2     0     0     0     0     0     0     0     0     4

cluster5_0.3   179   180   181
DIS
1                2     2     1
2                0     0     0
3                3     1     2
4                0     0     0
cluster5_0.5  -1      0    1    2    3    4    5    6    7    8    9    10  \
DIS
1             962  18979    2    2    8    0    5    0    2    2    0    2
2             306  19665    0    0    1    0    0    0    0    3    3    0
3             733  19192    3   12    7    4    1    5    4    0    0    7
4             131  19861    1    0    1    0    0    0    0    0    0    0

cluster5_0.5   11   12   13   14   15   16   17   18   19   20   21   22   23  \
DIS
1               1    4    2    0    3    2    4    4    3    1    2    3    2
2               0    0    0    0    2   10    0    0    2    3    0    0    3
3               7    0    2    5    2    0    2    2    4    0    3    1    0
4               0    0    0    0    0    2    1    0    0    0    1    0    1

cluster5_0.5   24   25
DIS
1               1    4
2               0    2
3               4    0
4               0    1
cluster5_0.7   -1      0   1   2
DIS
1             303  19692   2   3
2              76  19923   1   0
3             186  19809   4   1
4              28  19972   0   0
cluster5_1.0  -1      0
DIS
1             45  19955
2              9  19991
3             21  19979
4              4  19996
cluster5_1.5  -1      0
DIS
1              5  19995
2              0  20000
3              2  19998
4              0  20000
cluster10_0.3   -1      0    1    2    3    4    5    6    7    8    9    10  \
DIS
1              6006  13770    8    3    3   17    6    9    2   17   13    9
2              2770  17144    4    0    0    5    1    0   17   25    1    1
3              5303  14502    5    8    5    5   12   10    2    5   18    1
4              1627  18354    0    0    1    0    0    0    0    2    2    0

cluster10_0.3   11   12   13   14   15   16   17   18   19   20   21   22  \
DIS
1                4    3    9    7    5   18    1    3    4    2    3    2
2               11    0    0    6    0    0    4    0    0    2    3    0
3                3   12    4    1    5   12    0    6    7    2    4    9
4                0    0    2    4    0    0    0    0    1    2    1    0

cluster10_0.3   23   24   25   26   27   28   29   30   31   32   33   34  \
DIS
1                6    4    5    7    8    3    9    5    2    5    7    1
2                0    0    0    0    0    0    1    0    1    0    1    0
3                3    6    9    1    5    3    2    5    7    3    3    4
4                1    0    0    1    0    0    0    0    0    0    0    2

cluster10_0.3   35   36   37   38
DIS
1                5    6    0    3
2                1    0    1    1
3                4    2    1    1
4                0    0    0    0
cluster10_0.5    -1      0   1   2   3   4
DIS
1              1601  18388   3   5   0   3
2               568  19422   0   5   5   0
3              1264  18724   5   0   0   7
4               215  19783   0   0   2   0
cluster10_0.7   -1      0
DIS
1              482  19518
2              121  19879
3              330  19670
4               47  19953
cluster10_1.0   -1      0
DIS
1              101  19899
2               15  19985
3               46  19954
4                9  19991
cluster10_1.5  -1      0
DIS
1               6  19994
2               0  20000
3               3  19997
4               0  20000
cluster100_0.3     -1     0    1    2    3
DIS
1               16062  3654  122   24  138
2               12389  6931  359   63  258
3               15490  4273   52   79  106
4               10681  8495  158  523  143
cluster100_0.5    -1      0
DIS
1               6605  13395
2               2887  17113
3               5940  14060
4               1371  18629
cluster100_0.7    -1      0
DIS
1               2506  17494
2                778  19222
3               2327  17673
4                282  19718
cluster100_1.0   -1      0
DIS
1               599  19401
2               145  19855
3               518  19482
4                52  19948
cluster100_1.5  -1      0
DIS
1               62  19938
2                4  19996
3               39  19961
4                4  19996
cluster500_0.3     -1
DIS
1               20000
2               20000
3               20000
4               20000
cluster500_0.5     -1      0
DIS
1               14203   5797
2                9000  11000
3               13546   6454
4                7056  12944
cluster500_0.7    -1      0
DIS
1               6598  13402
2               2666  17334
3               6045  13955
4               1079  18921
cluster500_1.0    -1      0
DIS
1               2144  17856
2                580  19420
3               2170  17830
4                203  19797
cluster500_1.5   -1      0
DIS
1               410  19590
2                44  19956
3               424  19576
4                26  19974
cluster1000_0.3     -1
DIS
1                20000
2                20000
3                20000
4                20000
cluster1000_0.5     -1     0
DIS
1                17716  2284
2                14140  5860
3                17214  2786
4                12698  7302
cluster1000_0.7    -1      0
DIS
1                9594  10406
2                4553  15447
3                8926  11074
4                2463  17537
cluster1000_1.0    -1      0
DIS
1                3326  16674
2                 987  19013
3                3312  16688
4                 327  19673
cluster1000_1.5   -1      0
DIS
1                765  19235
2                105  19895
3                930  19070
4                 56  19944

In [21]:
  # plt.figure(figsize=(20, 6))
  # X = db_df_s_100
  # plt.subplot(131) 
  # sns.scatterplot(x=X.iloc[:,0], y=X.iloc[:,1], data=db_df_s_100, hue='cluster', palette='coolwarm') 
  # plt.subplot(132) 
  # sns.scatterplot(x=X.iloc[:,0], y=X.iloc[:,2], data=db_df_s_100, hue='cluster', palette='coolwarm') 
  # plt.subplot(133) 
  # sns.scatterplot(x=X.iloc[:,0], y=X.iloc[:,3], data=db_df_s_100, hue='cluster', palette='coolwarm')
  # plt.show()